@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono-Regular'), url(../fonts.gstatic.com/s/robotomono/v5/L0x5DF4xlVMF-BfR8bXMIjhLq3o.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(../fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(../fonts.gstatic.com/s/sourcesanspro/v11/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'), url(../fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdr.ttf) format('truetype');
}

.sidebar, #mobile-bar, #header, #search-form, .sidebar .list, #ad, .content h3 > a:before, .content h3:before, .content h3 > a:before {display:none !important} .content {margin-left:0px !important; max-width:none !important; padding-top:15px !important} .content {padding-left:0px !important} body.docs {padding-top:0px !important} #sponsors {display:none !important} #main {padding:0 20px !important} #translations{display:none !important} #mobile-bar {position:absolute !important} .content.api {margin-top:-42px !important} #ad, #sidebar-sponsors-platinum-right {display:none !important} .content h2, .content h3 {pointer-events:initial} .content h2:before, .content h3:before, .content h3 > a:before {content:none !important} .content.api {margin-top:0 !important} .demo {display:none !important}
